{%- extends 'reveal/index.html.j2' -%}

{%- block html_head_css -%}

  {{ super() }}
  <style>
  div.reveal h1 { font-size: 2.5em; }
  div.reveal h2 { font-size: 1.7em; }
  </style>

{%- endblock html_head_css -%}
